html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    background-color: darkorange;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header {
    background-color: darkorange;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: darkorange;
    color: white;
}

.navbar {
    margin-bottom: 20px;
    background-color: darkorange;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    background-color: darkorange;
    color: white;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: darkorange;
    color: white;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

    .nav-link:hover {
        color: #0056b3;
    }

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}
