@model MyProject.Models.ViewModel.RegisterModel

<h2>Registration</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Name">Enter name</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Email">Enter Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Enter password</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Repeat password</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="City">Enter your city</label><br />
            <input type="text" asp-for="City" />
        </div>
        <div>
            <label asp-for="ProfilePhotoPath">Enter profile photo</label><br />
            <input type="text" asp-for="ProfilePhotoPath" />
        </div>
        <div>
            <label asp-for="Year">Enter year of birth</label><br />
            <input type="text" asp-for="Year" />
        </div>
        <div>
            <input type="submit" value="Registration" />
        </div>
    </div>
</form>